/* 首页 样式 */
.box {
    width: 96%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* 推荐 模块 样式 */
.recommend {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #959393;
    border-radius: 5px;
}

.recommend-item {
    display: block;
    margin: 5px;
    padding: 5px 10px;
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}