/* 课程 页面 样式 */
.content {
    width: 100%;
    min-height: 80vh;
    display: flex;
}

.content-left {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #efeeee;
}

.content-left-item {
    margin: 2px;
}

.content-right {
    flex: 1;
    padding: 20px;
}

/* 一级标题 */
.title_level_1 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

/* 二级标题 */
.title_level_2 {
    font-size: 15px;
    margin: 2px 0;
    font-weight: bold;
}

/* 文本 */
.text {
    margin: 20px 60px;
    border-radius: 5px;
    padding: 15px;
    font-size: 14px;
    background: #f2e2e2;
}