/* 学科 页面 样式 */
.content {
    margin: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list {
    margin: 10px 0;
    padding: 5px;
    width: 98%;
    border: 1px solid #9c9ad6;
    border-radius: 5px;
    display: flex;
}

.list-left {
    width: 200px;
    padding: 10px;
    display: flex;
    color: rgb(45, 21, 105);
}

.list-right {
    flex: 1;
}

.item {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background: #f8efe8;
    border-radius: 5px;
}