* {
    margin: 0;
    padding: 0;
}

#box {
    margin: 5vh auto;
    width: 98vw;
    min-height: 90vh;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: black;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
    display: flex;
}

.item {
    height: 100%;
    width: 15%;
    margin: 0 1px;
    background-color: #ddd;
    position: relative;
}

.item-title {
    position: absolute;
    top: -23px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    background-color: rgb(246 246 224);
    color: cornflowerblue;
}

.item-1 {
    width: 100%;
    height: 2vw;
    margin-bottom: 1px;
    font-size: 12px;
}

.item-1:nth-child(odd) {
    background: rgb(220, 234, 192);
}

.item-1:nth-child(even) {
    background-color: rgb(244, 205, 192);
}