body {
    width: 100vw;
    min-height: 100vh;
    background: #f9f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    margin: 20px;
    padding: 10px;
    display: flex;
    width: 80%;
    background: #fff;
    border-radius: 10px;
}

.box-left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-right {
    flex: 1;
}

.item {
    padding: 5px;
}

footer {}