* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    margin-bottom: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ddd;
    /* 容器内部 */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    line-height: 40px;
    background: #fff;
}