/* index.html layout 样式 */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: blue;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(247, 247, 241);
}

header {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    background: rgb(247, 247, 241);
    z-index: 1;
}

nav {
    margin-top: 30px;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-top: 50px;
    width: 76%;
    display: flex;
}

#left-aside {
    width: 12%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(247, 247, 241);
    margin-top: 40px;
}

#right-aside {
    width: 12%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(247, 247, 241);
    margin-top: 40px;
}

.aside-box {
    width: 80%;
    margin: 20px auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}

.aside-box div {
    margin: 5px 0;
    padding-left: 20px;
    color: #666464;
    font-size: 14px;
}


/* 小屏幕 */
@media screen and (max-width: 1000px) {
    main {
        margin-top: 40px;
        width: 98vw;
        display: flex;
    }

    #left-aside {
        display: none;
    }

    #right-aside {
        display: none;
    }
}