/* index.html layout 样式 */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: blue;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(247, 247, 241);
}

header {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

nav {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 96%;
    display: flex;
    margin: 20px 0;
}

#left-aside {
    width: 15%;
    /* background: rgb(249, 249, 223); */
}

#right-aside {
    width: 15%;
    /* background: rgb(249, 249, 223); */
}

.aside-box {
    width: 80%;
    margin: 20px auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}

.aside-box div {
    margin: 5px 0;
    padding-left: 20px;
    color: #666464;
    font-size: 15px;
}