/* index.html article 样式 */

article {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

section {
    width: 96%;
    display: flex;
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}

.article-left {
    width: 10%;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    /* background: #fff; */
}

.article-right {
    width: 90%;
}

.item {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background: #fff;
}

.item-when {
    width: 20%;
}

.item-where {
    width: 20%;
}

.item-who {
    width: 30%;
}

.item-what {
    flex: 1;
}

.color-red {
    color: red;
}

.background-create {
    background: rgb(238, 193, 188);
}