main {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    margin: 5px;
    display: flex;
    width: 80%;
    background: #fff;
    border-radius: 10px;
}

.box-left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-right {
    flex: 1;
}

.item {
    padding: 5px;
}

footer {}