* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vw;
    border-top: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-item {
    font-size: 4vw;
}

.color-red {
    color: red;
}

body {
    padding: 2vw 2vw 10vw 2vw;
    background: #f1f0f0;
}

.title {
    width: 100%;
    margin: 5vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
}

.ranklist {
    margin: 2vw;
    padding: 2vw;
    background: #fff;
    border-radius: 2vw;
    display: flex;
}

.ranklist-title {
    background: yellow;
    width: 20vw;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranklist-box {
    flex: 1;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
}

.ranklist-item {
    display: block;
    border-radius: 1vw;
    font-size: 4vw;
    margin: 1vw;
}

.ranklist-item-count {
    color: red;
}