.item {
    width: 80%;
    margin: 5px 10px;
    padding: 5px 20px;
    border-radius: 10px;
    display: flex;
    font-size: 15px;
    background: white;
}

.item div {
    background: white;
}

.item a {
    color: steelblue;
    background: white;
}

.mark {
    color: red;
}

.shi_jian {
    width: 250px;
}

.di_dian {
    width: 250px;
}

.ren_wu {
    width: 300px;
}

.shi_qing {
    flex: 1;
}