* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: blue;
}

body {
    width: 100vw;
    min-height: 100vh;
    background: #edf6f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

nav {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

main {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.music {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.music-item {
    padding: 5px;
    width: 70%;
    background: #fff;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 14px;
}

.music-when {
    width: 10%;
}

.music-who {
    width: 10%;
}

.music-what {
    width: 70%;
}

.music-where {
    flex: 1;
}