main {
    margin: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
}

aside {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.aside-title {
    margin: 5px 0;
    width: 100%;
    text-align: center;
}

article {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-title {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.box {
    margin: 5px;
    width: 80%;
}

.box-title {
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}

.box-list {
    margin: 5px;
}

.box-item {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.box-item-ranking {
    padding: 5px;
    color: red;
}

.box-item-name {
    padding: 5px;
}

.box-item-count {
    padding: 5px;
}

.box-item-country {
    padding: 5px;
}