article {
    /* 容器外部 */
    margin: 2vw;
    border-radius: 2vw;
    background: #fff;
    /* 容器内部 */
    display: flex;
    flex-direction: column;
}

article .title {
    background: rgb(235, 235, 223);
    text-align: center;
    border-radius: 1vw;
    margin: 2vw;
    color: red;
}

article .item {
    display: flex;
    margin: 2vw;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 2vw;
}

article .item-line1 {
    display: flex;
    align-items: center;
    margin: 1vw;
}

article .item-line1 .ranking {
    background: rgb(239, 174, 133);
    width: 10vw;
    text-align: center;
    border-radius: 1vw;
    margin: 0 2vw;
}

article .item-line1 .icon {
    width: 10vw;
    margin: 0 2vw;
}

article .item-line1 .name {
    flex: 1;
    width: 10vw;
    text-align: center;
}

article .item-line1 .number {
    width: 15vw;
    margin-right: 2vw;
    color: red;
}

article .item-line2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1vw 1vw 1vw;
}

article .item-line2 progress {
    width: 100%;
}