/* line 1 */
#page_line1 {
}
#page_line1_left {
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-radius: 5px;
  position: relative;
  border: 1px dashed rgba(125, 165, 255, 1);
}
#file_input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
#page_line1_center {
}
.page_line1_center_item {
    color: #333333;
    border: 1px dashed rgba(125, 165, 255, 1);
    margin: 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}
.page_line1_center_item input {
  width: 40vw;
}
#compress_image_button {
  background-color: rgba(125, 165, 255, 1);
  color: #fff;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
#page_line1_right {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}
#input_image {
  border-radius: 5px;
}
#input_image_size {
  margin-top: 10px;
  color: rgba(125, 165, 255, 1);
}

/* line 2 */
#page_line2 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.item {
  margin: 5px 0;
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px dashed rgba(125, 165, 255, 1);
  border-radius: 5px;
}
.item_image {
  width: 100px;
  margin-top: 1vw;
  border-radius: 5px;
}
.item_button {
  background: rgba(125, 165, 255, 1);
  padding: 0.5vw 2vw;
  border: none;
  border-radius: 5px;
  color: #fff;
}
/* document */
.document {
  margin-top: 50px;
  padding: 1vw;
  border: 1px dashed rgba(125, 165, 255, 1);
  border-radius: 5px;
}