body {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    display: flex;
}

#left-aside {
    width: 15%;
}

#right-aside {
    width: 15%;
}

article {
    flex: 1;
}

section {
    margin: 5px;
}