.content {
    width: 80%;
}

.list {
    margin: 5px;
    padding: 2px;
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
}

.list-left {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.list-right {
    flex: 1;
}

.item {
    margin: 5px;
    padding: 5px 20px;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
}

/* 已完成 */
.item a {
    background: rgb(245, 245, 177);
}