main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    margin: 5px;
    width: 90%;
}

section {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    background: #fff;
}

.left {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}

.right {
    flex: 1;
}

.item {
    margin: 5px;
}