* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    background: rgb(247, 247, 241);
}

header {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

main {
    width: 80%;
    margin: 0 auto;
}

.article {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

.article-title {
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
}

.article-content {}

.article-content-line {
    margin: 20px 0;
}